a:hover {
    color: #75b635;
}

a {
    color: #342A21;
    text-decoration: none;
}

.bg-card {
    background-color:#F1E0C5;
}

.bg-navbar {
    background-color: #29524A;
}

body {
    padding: 0;
    margin: 0;
    background-color: #71816D;
    color: #342A21;
}

html, body, #map {
    height: 100%;
    font: 10pt "Helvetica Neue", Arial, Helvetica, sans-serif;
}

.lorem {
    font-style: italic;
    color: #AAA;
}

.leaflet-container {
    background-color:rgba(255,0,0,0.0);
}